   <div class="comments">
        {{#each  this}}
        <section class="comment">
            <div>
                {{user.username}} on {{format_date created_at}}
            </div>
            <div>
                {{comment_body}}
            </div>
        </section>
        {{/each}}
    </div>