<article class="post">
    <div class="title">
        <p>{{title}}</p>
        <span>{{post_link}}</span>
    </div>
    <div class="meta">
        <a href="/post/{{id}}">click here to see full post.</a>
        <p>{{comments.length}} comment(s)</p>
    </div>
</article>