<article>
    <a href="/dashboard">back to dashboard.</a>
    <h2>edit post</h2>
    <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" value="{{post.title}}" />
      <span>({{post.post_link}})</span>
    </div>
    </form>
</article>